@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

 <div class="wrapper">
 <div class="sidebar">
 <ul>
      @foreach(string item in ViewBag.chatTopics)
                    {
                        <li>@item</li>
                    }
  </ul>

 </div>
 </div>

 </body>
 </html>

}
