@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>this is admin index page</p>
<form asp-controller="Admin" asp-action="NewUser" method="post">
	<button class="btn btn-primary btn-lg">Create New User</button>
</form>