@model MedicalIntercomProject.Models.User

<p>this is admin index page</p>


   @* DIFFERENCE BELOW*@

<form asp-controller="Admin" asp-action="NewUser" method="post">     
	<button class="btn btn-primary btn-lg">Create New User</button>
</form>
<br />
<form asp-controller="User" method="get">
    <button class="btn btn-primary btn-lg">User Management</button>
</form>
<br />
<form asp-controller="Admin" asp-action="OpenChat" method="get">
    <button class="btn btn-primary btn-lg">Chat</button>
</form>
<br />
<form asp-controller="Login" asp-action="Logout" method="post">
	<button class="btn btn-primary btn-lg">Logout</button>
</form>

