<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="~/css/style.css" />
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   </head>
   <body>
       <div class="sidebar">
           <div class="logo_content">
               <div class="logo">
                   <div class="logo_name"></div>
               </div>
               <i class='bx bx-menu' id="btn" ></i>
           </div>
            <ul class="nav_list">
                <li>
                     <a href="#">
                      <i class='bx bx-grid-alt'></i>
                      <span class="links_name">Dashboard</span>
                  </a>
                  </li>

                  <li>
                     <a href="../Chat">
                      <i class='bx bx-chat'></i>
                      <span class="links_name">Chats</span>
                  </a>
                  </li>

                  <li>
                     <a href="../">
                      <i class='bx bx-log-out'></i>
                      <span class="links_name">Logout</span>
                  </a>
                  </li>

                  </ul>
                  <div class="profile_content">
                      <div class="profile">
                          <div class="profile_details">
                             @* <div class="name">name of user goes here</div>
                              <div class="last_login">last login time goes here</div>*@
                          </div>
                      </div>
                      
                  </div>
       </div>
       <script>
           let btn = document.querySelector("#btn");
                      let sidebar = document.querySelector(".sidebar");

           btn.onclick = function () {
               sidebar.classList.toggle("active");
           }

           </script>

    </body>
    </html>
