@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>

<p>Hello from login Template!</p>
@Html.Label("User Name")
<input class="form-control" id="UserName" name="UserName" type="text" value="" />
@Html.Label("Password")
<input class="form-control" id="Password" name="Password" type="password" value="" />
<input type="button"
         value="Submit(doesn't work yet')"
         onclick="" />